// @import "variables";
// @import "animate";

 
@mixin play-button($time: $t-duration) {
	transition: all $t-duration ease-in-out;
  &:after {
		animation: play-button $time infinite;
  }
}

@mixin button-hover($time: $t-duration) {
	transition: all $t-duration ease-in;
}

@mixin bounce($time: $t-duration) {
	animation: bounce $time;
}

@mixin bounce-in($time: $t-duration) {
	animation: bounceIn $time;
}

@mixin slideInUp($time: $t-duration) {
	animation: slideInUp $time;
}