

/* common */

$color-placeholder: #f6f5f3;
$color-almost-white: #f5f6f8;
$color-almost-black: #282828;
$color-dark-blue: #323969;
$color-pink: #ff6d6d;
$color-grey: #999cb4;
$color-blue-grey: #464c77;

$t-duration: 0.3s;


/* media-const */
$m-mobile: "min-width: 768px";
$m-tablet: "min-width: 992px";
$m-desktop: "min-width: 1200px";

$phone: "max-width: 479px";
$mobile: "max-width: 767px";
$tablet: "max-width: 991px";
$desktop: "max-width: 1199px";