/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
@import url("https://fonts.googleapis.com/css?family=Exo:100,400,400i,500");
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table caption, table th, table td {
    text-align: left;
    vertical-align: middle; }

a img {
  border: 0; }

:focus {
  outline: 0; }

*,
*:before, *:after {
  box-sizing: border-box; }

/* common */
/* media-const */
@keyframes play-button {
  0%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); } }

@keyframes bounce {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  100% {
    transform: none; } }

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

body {
  font-family: 'Exo', sans-serif;
  background-image: url(../img/bg.png);
  overflow-x: hidden; }

@media (min-width: 992px) {
  .collapse {
    display: block !important;
    height: 100% !important; } }

.button {
  transition: all 0.3s ease-in; }
  .button:hover {
    color: #fff;
    box-shadow: 0 0 10px 0px #999cb4; }

.header {
  padding-bottom: 227px;
  background: url(../img/header.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 479px) {
    .header {
      padding-bottom: 20%; } }
  @media (max-width: 991px) {
    .header {
      padding-bottom: 20%; } }
  .header p {
    margin: 0 auto;
    padding-top: 214px;
    width: 70%;
    text-align: center;
    font: 100 60px 'Exo', sans-serif;
    color: #282828;
    line-height: 75px;
    letter-spacing: 2.5px; }
    @media (max-width: 479px) {
      .header p {
        font-size: 25px;
        padding-top: 5%; } }
  .header .button-play {
    margin-top: 42px;
    border-radius: 10px; }
    .header .button-play .play-me {
      width: 59px;
      height: 59px;
      padding: 0;
      background: transparent;
      border: 0; }
    .header .button-play .circle {
      position: relative;
      padding: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      border-radius: 50%;
      background: #323969;
      transition: all 0.3s ease-in-out; }
      .header .button-play .circle:after {
        animation: play-button 2s infinite; }
      .header .button-play .circle:hover {
        box-shadow: 0 0 10px 1px #999cb4; }
      .header .button-play .circle:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -6px;
        width: 0;
        height: 0;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 16px solid #f5f6f8;
        color: #f5f6f8;
        font: 100 60px 'Exo', sans-serif; }
  .header .try-now {
    width: 190px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 17px;
    padding-top: 15px;
    background: #ff6d6d;
    border: 0;
    border-radius: 5px;
    color: #f5f6f8;
    font: 100 15px 'Exo', sans-serif;
    letter-spacing: 3.5px;
    font-weight: bold; }
    .header .try-now:active {
      background: #f5f6f8;
      color: #ff6d6d; }
  .header .comment {
    margin: 0 auto;
    padding: 0;
    font: 400 12px 'Exo', sans-serif;
    letter-spacing: 1.5px;
    color: #282828; }
    @media (max-width: 1199px) {
      .header .comment {
        color: #f5f6f8; } }

.description {
  position: relative;
  margin: 0 auto;
  padding-bottom: 139px;
  z-index: 2;
  background: #f5f6f8; }
  @media (max-width: 1199px) {
    .description {
      padding-bottom: 5%; } }
  @media (min-width: 992px) {
    .description.active:after {
      transition: 1s ease-out;
      transform: translate(0); } }
  @media (min-width: 992px) {
    .description:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 568px;
      height: 100%;
      display: inline-block;
      background: #f5f6f8; }
    .description:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 485px solid transparent;
      border-right: 569px solid #ff6d6d;
      transform: translate(570px); } }
  .description .new-design {
    padding-top: 176px;
    padding-right: 0;
    font: 500 20px 'Exo'; }
    @media (max-width: 1199px) {
      .description .new-design {
        padding-top: 10%;
        padding: 5%; } }
    .description .new-design h4 {
      color: #ff6d6d;
      letter-spacing: 2px; }
    .description .new-design h2 {
      margin: -3px 0 36px -1px;
      font-size: 40px;
      letter-spacing: 1.6px;
      line-height: 50px; }
      @media (max-width: 1199px) {
        .description .new-design h2 {
          font-size: 35px;
          margin: -3px 0 10px -1px; } }
      .description .new-design h2 span {
        color: #ff6d6d;
        letter-spacing: 2.5px; }
    .description .new-design p {
      padding: 3px 0 14px 0;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 1.07px; }
      @media (max-width: 1199px) {
        .description .new-design p {
          padding: 0; } }

.features {
  position: relative;
  z-index: 1;
  padding: 125px 0 158px 0;
  background: #f5f6f8;
  font: 500 20px 'Exo';
  text-align: center; }
  @media (max-width: 1199px) {
    .features {
      padding: 5% 0; } }
  .features h2 {
    margin-top: 14px;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: 1px; }
    @media (max-width: 479px) {
      .features h2 {
        font-size: 25px; } }
  .features h4 {
    font-size: 16px;
    color: #ff6d6d;
    letter-spacing: 3px; }
  .features .columns {
    padding-top: 61px;
    background: #f5f6f8;
    font: 500 20px 'Exo'; }
    @media (max-width: 479px) {
      .features .columns {
        padding-top: 5%; } }
    @media (max-width: 991px) {
      .features .columns {
        padding-top: 5%; } }
    @media (max-width: 1199px) {
      .features .columns {
        padding-top: 5%; } }
    .features .columns h3 {
      margin: 15px 0 0 0;
      font-size: 23px;
      letter-spacing: 0.35px;
      line-height: 50px; }
    .features .columns p {
      margin-top: -7px;
      padding: 3px 0 14px 0;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 1.15px; }
    .features .columns img {
      margin: 17px 0 0 -4px;
      width: 65px;
      height: 65px; }
  @media (min-width: 1200px) {
    .features .penholder {
      display: inline-block;
      position: absolute;
      float: left;
      width: 270px;
      height: 305px;
      top: -10px;
      left: 94px;
      background-image: url(../img/penholder.png);
      transform: translate(0, -300px); }
    .features .coffee-cup {
      display: inline-block;
      position: absolute;
      width: 153px;
      height: 114px;
      bottom: -20px;
      right: 111px;
      background-image: url(../img/coffee-cup.png); }
    .features .earphones {
      display: inline-block;
      position: absolute;
      float: right;
      width: 213px;
      height: 262px;
      top: -31px;
      right: 140px;
      background-image: url(../img/earphones.png);
      transform: translate(0, -275px); }
    .features.active .penholder {
      transition: 1s ease-out;
      transform: translate(0, 0); }
    .features.active .earphones {
      transition: 1.5s ease-in-out;
      transform: translate(0, 0); } }

.responsive {
  position: relative;
  padding-bottom: 88px;
  z-index: 2;
  background: #fff; }
  @media (max-width: 1199px) {
    .responsive {
      padding-bottom: 5%; } }
  @media (min-width: 1200px) {
    .responsive:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 635px solid transparent;
      border-left: 607px solid #ff6d6d; }
    .responsive:after {
      content: "";
      position: absolute;
      top: -112px;
      left: 0;
      width: 110px;
      height: 112px;
      background: #f5f6f8; } }
  .responsive .macbook img {
    padding-top: 93px;
    margin-left: -96px;
    max-width: 114%;
    transform: translate3d(-3000px, 0, 0); }
    @media (max-width: 991px) {
      .responsive .macbook img {
        display: none; } }
  @media (min-width: 768px) {
    .responsive.active .macbook img {
      transform: translate3d(0, 0, 0);
      animation: bounce 2s; } }
  .responsive .responsive-design {
    font: 500 20px 'Exo'; }
    .responsive .responsive-design h4 {
      padding-top: 128px;
      color: #ff6d6d;
      letter-spacing: 2px; }
      @media (max-width: 479px) {
        .responsive .responsive-design h4 {
          padding-top: 10%; } }
      @media (max-width: 991px) {
        .responsive .responsive-design h4 {
          padding-top: 5%; } }
      @media (max-width: 1199px) {
        .responsive .responsive-design h4 {
          padding-top: 10%; } }
    .responsive .responsive-design h2 {
      font-size: 40px;
      margin: 16px 0 28px 0;
      padding-right: 11px;
      letter-spacing: 2.2px;
      line-height: 50px; }
      @media (max-width: 479px) {
        .responsive .responsive-design h2 {
          font-size: 18px; } }
      @media (max-width: 767px) {
        .responsive .responsive-design h2 {
          font-size: 22px;
          margin: 16px 0 10px 0; } }
      .responsive .responsive-design h2 span {
        color: #ff6d6d;
        letter-spacing: 2.5px; }
    .responsive .responsive-design p {
      padding: 3px 5% 14px 0;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: .7px; }
      @media (max-width: 479px) {
        .responsive .responsive-design p {
          padding: 0; } }

.clients {
  padding-top: 100px;
  background-image: url(../img/clients.png);
  background-size: 100%; }
  @media (max-width: 1199px) {
    .clients {
      padding-top: 5%; } }
  @media (min-width: 992px) {
    .clients .col-md-4 {
      transform: translate3d(0, 100%, 0); }
    .clients.active .col-md-4 {
      transform: translate3d(0, 0, 0); }
      .clients.active .col-md-4:nth-of-type(1) {
        animation: slideInUp 0.75s; }
      .clients.active .col-md-4:nth-of-type(2) {
        animation: slideInUp 1s; }
      .clients.active .col-md-4:nth-of-type(3) {
        animation: slideInUp 1.25s; } }
  .clients .founders {
    margin-top: 20px;
    font: 500 20px 'Exo';
    text-align: center; }
    .clients .founders h2 {
      margin-top: 5px;
      padding-top: 7px;
      color: #f5f6f8;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 50px; }
    .clients .founders h4 {
      margin-top: -16px;
      color: #ff6d6d;
      font-size: 14px;
      letter-spacing: 1px; }
    .clients .founders p {
      padding: 3px 0 14px 0;
      margin-top: 28px;
      font: 500 18px 'Exo';
      font-style: italic;
      color: #f5f6f8;
      line-height: 25px;
      letter-spacing: -0.1px; }
      @media (max-width: 991px) {
        .clients .founders p {
          margin-top: 5%;
          margin-bottom: 10%; } }
  .clients .photo {
    margin: -10px 0 0 -3px;
    display: inline-block;
    width: 78px;
    height: 77px;
    background: #000; }
  .clients .logos {
    margin-top: 15px;
    padding-bottom: 79px; }
    @media (max-width: 479px) {
      .clients .logos {
        display: none; } }
    .clients .logos span {
      margin-top: 46px;
      max-width: 963;
      height: 85px;
      display: inline-block;
      margin: 0; }
      .clients .logos span img {
        max-width: 100%;
        height: 85px; }

.browser {
  position: relative;
  background: #f5f6f8;
  font: 500 20px 'Exo';
  z-index: 1; }
  .browser.active .brows img {
    transform: translate3d(0, 0, 0);
    animation: slideInUp 1.5s; }
  .browser .brows img {
    padding-top: 80px;
    margin-left: -36px;
    max-width: 114%;
    transform: translate3d(0, 100%, 0); }
    @media (max-width: 991px) {
      .browser .brows img {
        display: none; } }
  .browser .headers h4 {
    padding-top: 97px;
    color: #ff6d6d;
    letter-spacing: 2px; }
    @media (max-width: 1199px) {
      .browser .headers h4 {
        padding-top: 5%; } }
  .browser .headers h2 {
    margin: -5px 0 35px 0;
    font-size: 40px;
    letter-spacing: 1.6px;
    line-height: 50px; }
    @media (max-width: 479px) {
      .browser .headers h2 {
        padding-top: 5%;
        font-size: 20px;
        margin-bottom: 5%; } }
    @media (max-width: 1199px) {
      .browser .headers h2 {
        font-size: 25px; } }
  .browser .par {
    padding: 0 5%; }
    .browser .par p {
      margin-top: -5px;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 1.07px;
      text-align: center; }
      @media (max-width: 479px) {
        .browser .par p {
          padding-bottom: 5%;
          text-align: left; } }

.try-it {
  position: relative;
  padding-bottom: 82px;
  background: #323969;
  font: 500 20px 'Exo';
  z-index: 2; }
  @media (max-width: 479px) {
    .try-it {
      padding-bottom: 5%; } }
  .try-it h4 {
    margin-bottom: 0;
    padding-top: 85px;
    color: #ff6d6d;
    letter-spacing: 2px; }
    @media (max-width: 479px) {
      .try-it h4 {
        padding-top: 5%; } }
  .try-it h2 {
    color: #f5f6f8;
    font-size: 40px;
    letter-spacing: 1.6px;
    line-height: 22px; }
    @media (max-width: 479px) {
      .try-it h2 {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .try-it h2 {
        font-size: 25px; } }
  .try-it .days {
    margin-top: 40px;
    text-align: right; }
    .try-it .days p {
      margin: 0 43px 0 0;
      padding: 0;
      display: inline; }
      .try-it .days p .arrow {
        margin: 10px -21px 0px 0;
        vertical-align: top;
        display: inline-block;
        height: 41px;
        width: 56px;
        background: url("../img/arrow.png") no-repeat; }
  .try-it form {
    margin: 17px 0 110px 0; }
    @media (max-width: 479px) {
      .try-it form {
        margin-bottom: 5%; } }
    @media (max-width: 991px) {
      .try-it form {
        margin-bottom: 5%; } }
    .try-it form .try-button {
      display: inline;
      width: 100%;
      height: 49px;
      background: #ff6d6d;
      color: #f5f6f8;
      font-size: 16px;
      letter-spacing: -0.4px;
      border: 1px solid #ff6d6d;
      border-radius: 3px; }
      @media (max-width: 479px) {
        .try-it form .try-button {
          margin: 1% 0; } }
      @media (max-width: 991px) {
        .try-it form .try-button {
          margin: 1% 0; } }
      .try-it form .try-button:focus {
        box-shadow: 0 0 5px #999cb4; }
      .try-it form .try-button:active {
        background: #f5f6f8;
        color: #ff6d6d; }
    .try-it form .in input {
      padding: 3px 65px 5px 27px;
      width: 100%;
      height: 50px;
      color: #fff;
      background: #464c77;
      border: 1px solid #999cb4;
      border-radius: 3px; }
      @media (max-width: 479px) {
        .try-it form .in input {
          margin: 1% 0; } }
      @media (max-width: 991px) {
        .try-it form .in input {
          margin: 1% 0; } }
      .try-it form .in input:focus {
        box-shadow: 0 0 8px #999cb4;
        transition: all 0.3s ease-in-out; }
      .try-it form .in input::-webkit-input-placeholder {
        color: #f5f6f8;
        font-size: 16px;
        letter-spacing: 0.3px; }
      .try-it form .in input::-moz-placeholder {
        color: #f5f6f8; }
      .try-it form .in input:-ms-input-placeholder {
        color: #f5f6f8; }
      .try-it form .in input:-moz-placeholder {
        color: #f5f6f8; }
  .try-it p {
    display: inline;
    color: #f5f6f8;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1.1px; }
    .try-it p a {
      color: #f5f6f8;
      text-decoration: underline; }

footer {
  position: relative; }
  @media (min-width: 1200px) {
    footer:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-bottom: 339px solid transparent;
      border-right: 324px solid #ff6d6d; } }
  footer .ex h2 {
    position: relative;
    margin-top: 92px;
    display: block;
    font: 500 'Exo';
    font-size: 25px;
    letter-spacing: 1px; }
    @media (max-width: 479px) {
      footer .ex h2 {
        margin: 10% 0; } }
    @media (max-width: 991px) {
      footer .ex h2 {
        margin: 5% 0; } }
    footer .ex h2:after {
      content: '';
      margin: -5px 0 0 -30px;
      position: absolute;
      width: 0px;
      height: 0px;
      border-top: 20px solid transparent;
      border-left: 40px solid #ff6d6d;
      border-bottom: 20px solid transparent;
      z-index: -1; }
    footer .ex h2 span {
      color: #f5f6f8; }
  footer h2 {
    position: relative;
    margin: 92px 0 0 2px;
    font: 500 'Exo';
    font-size: 24px;
    letter-spacing: 0.2px; }
  footer p {
    margin-top: 19px;
    font: 500 'Exo';
    font-size: 13px;
    letter-spacing: 0.98px;
    line-height: 26px; }
  footer .panel-group .panel + .panel {
    margin-top: 90px; }
    @media (max-width: 479px) {
      footer .panel-group .panel + .panel {
        margin-top: 10%; } }
    @media (max-width: 991px) {
      footer .panel-group .panel + .panel {
        margin-top: 5%; } }
  footer .support {
    display: block;
    margin-top: 89px;
    border-color: #fff; }
    @media (max-width: 479px) {
      footer .support {
        margin: 10% 0; } }
    @media (max-width: 991px) {
      footer .support {
        margin: 5% 0; } }
    footer .support a {
      position: relative;
      margin: 92px 0 0 2px;
      font: 500 'Exo';
      font-size: 24px;
      letter-spacing: 0.2px;
      color: #282828; }
    footer .support ul li {
      margin: 0 0 -3px 2px;
      padding: 5px 0 0 2px;
      list-style-type: none; }
      footer .support ul li a {
        color: #282828;
        font: 500 'Exo';
        line-height: 29px;
        font-size: 14px;
        letter-spacing: 0.4px; }
  footer .about {
    display: block;
    margin-top: 89px;
    border-color: #fff; }
    footer .about a {
      position: relative;
      margin: 92px 0 0 2px;
      font: 500 'Exo';
      font-size: 24px;
      letter-spacing: 0.2px;
      color: #282828; }
    footer .about ul li {
      margin: 0 0 -3px 4px;
      padding: 4px 0 0 2px;
      list-style-type: none; }
      footer .about ul li a {
        color: #282828;
        font: 500 'Exo';
        line-height: 29px;
        font-size: 14px;
        letter-spacing: 0.5px; }
  footer .newsletter {
    display: block; }
    footer .newsletter h2 {
      margin: 72px 0 25px 0;
      letter-spacing: 0.4px; }
      @media (max-width: 479px) {
        footer .newsletter h2 {
          margin: 10% 0; } }
      @media (max-width: 991px) {
        footer .newsletter h2 {
          margin: 5% 0; } }
    footer .newsletter .email-send {
      position: relative;
      width: 269px;
      height: 49px; }
      @media (max-width: 479px) {
        footer .newsletter .email-send {
          width: 100%; } }
      @media (max-width: 991px) {
        footer .newsletter .email-send {
          width: 100%; } }
      footer .newsletter .email-send input {
        padding: 4px 65px 4px 27px;
        width: 100%;
        height: 100%;
        font-size: 16px;
        text-transform: uppercase;
        border: 1px solid #999cb4;
        border-radius: 3px; }
        footer .newsletter .email-send input:focus {
          box-shadow: 0 0 8px #999cb4;
          transition: all 0.3s ease-in-out; }
      footer .newsletter .email-send button {
        position: absolute;
        top: 0;
        right: 0;
        width: 52px;
        height: 100%;
        background: #ff6d6d;
        background-image: url("../img/icon-plane-letter.png");
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ff6d6d;
        border-radius: 3px; }
        footer .newsletter .email-send button:hover {
          box-shadow: 0 0 4px -1px #999cb4;
          animation: bounceIn 0.5s; }
    footer .newsletter .links {
      margin-top: 15px;
      margin-bottom: 50px; }
      footer .newsletter .links:focus {
        box-shadow: 0 0 5px #999cb4; }
      footer .newsletter .links span {
        height: 21px;
        width: 25px;
        display: inline-block;
        background-image: url(..//img/icons.png); }
      footer .newsletter .links .icon-1 {
        margin-right: 14px; }
      footer .newsletter .links .icon-2 {
        background-position: -42px 0;
        margin-right: 14px; }
      footer .newsletter .links .icon-3 {
        background-position: -86px 0;
        margin-right: 14px; }
      footer .newsletter .links .icon-4 {
        background-position: -127px 0; }
